@import "_var";

body {
    background: $primary;
    color: $second;
    font-family: "Open Sans";
    font-size: 16px;
}

a {
	color: $second;
	text-decoration: none;
}

.action_area {
	height: 74px;
	margin: 0 auto;
	padding: 0 4px;
	width: 90%;

	.register, .login {
		background: linear-gradient(to bottom, #fff 0%, #eee 100%);
		display: inline-block;
		font-size: 80%;
		margin-top: 14px;
		text-align: center;
		vertical-align: top;
		width: 50%;
	}
	.register:hover, .login:hover{
		background: linear-gradient(to bottom, #333 0%, #444 100%);
		h2 {
			color: #eee;
		}
	}
}

.container {
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	margin: 3% auto 0;
	width: 90%;
	figure {
		img {
			width: 100%;
		}
	}
	h3 {
		font-size: 150%;
	}
	span {
		font-size: 75%;
	}
	.author{
		color: #333;
		font-weight: bold;
		text-indent: 5px;
	}
	.article_info {
		color: #333;
		text-indent: 6px;
	}
	.read_more {
		float: right;
		font-size: 125%;
		margin-bottom: 5px;
		margin-right: 14px;
	}
}

#title {
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	clear: both;
	position: relative;
	overflow: hidden;	
	width: 100%;

	.brand_area {
		text-align: center;
		margin: 0 auto;
	}
	.menu {
		font-size: 3em;
		left: 0;
		margin: 0 0 0 1%;
		position: absolute;
		top: 12%;
		-webkit-font-smoothing: none;
		-moz-osx-font-smoothing: none;
	}
	.login {
		font-size: 3em;
		top: 20%;
		margin: 0 1% 0 0;
		position: absolute;
		right: 0;
		-webkit-font-smoothing: none;
		-moz-osx-font-smoothing: none;
	}
}

.search {
	margin-top: 25px;
	position: relative;
	a {
		font-size: 2.2em;
		position: absolute;
		top: 12%;
		left: 6.5%;
	}
	input[type="search"] {
		background: linear-gradient(to bottom, #fff 0%, #eee 100%);
		border-radius: 2px;
		display: block;
		height: 44px;
		margin: 0 auto;
		text-indent: 54px;
		width: 88%;
		border: 0;
	}
	::-webkit-input-placeholder {
			color: $second;
			font-weight: bold;
	}

	:-moz-placeholder { 
	   color: $second;
	   font-weight: bold;
	}

	::-moz-placeholder {  
	   color: $second;
	   font-weight: bold;
	}

	:-ms-input-placeholder {  
	   color: $second;
	   font-weight: bold;
	}
}

.article {
	figure {
		position: relative;
		ul{
			list-style: none;
			padding: 0;
			li{
				display: inline-block;
				margin-left: 5px;
				background: rgb(95, 0, 182);
				-webkit-border-radius: 10px;
				border-radius: 10px;
				padding: 3px 10px;
				text-transform: uppercase;
				&:nth-child(3n+1){
					background: rgb(49, 136, 0);
				}
				&:nth-child(3n+2){
					background: rgb(202, 53, 6);
				}
			}
		}
		img {
			opacity: .7;
		}
		figcaption {
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.28, rgba(119, 119, 119, 0.35)), color-stop(1, rgba(0, 0, 0, 0.56)) );
			bottom: 0;
			color: white;
			left: 0;
			right: 0;
			padding: 5%;
			position: absolute;

			h3{
				font-size: 3em;
				padding: 0;
				margin: 0;
			}
		}
	}
}

#sidebar {
	background: #f6f6f6;
	bottom: 0;
	box-shadow: 0 0 10px -2px rgba(0, 0, 0, .5);
	left: -320px;
	overflow: auto;
	position: absolute;
	top: 45px;
	transition: all .3s;
	width: 320px;
	z-index: 1001;
}