extends layout

block main
	header(id="header")
		div(id="title")
			a(href="", class="menu icon-menu")
			a(href="", class="brand_area")
				h2 Líderes Web           
			a(href="", class="login icon-enter")
		div(class="search")
			a(href="", class="icon-search")
			input(type="search", placeholder="Buscar artículos") 

	section(id="sidebar")

	section(id="container", class="container")
		article(class="article") 
			figure(class="")
				img(src="images/image1.jpg")
				figcaption 
					ul()
						li()
							|HTML5
						li()
							|CSS3
						li()
							|JAVASCRIPT
					h3 UX Designer
					span 
						| Publicado en Diciembre 17, 2013
					p
						| Escrito por 
						a(href="", class="author") Loulogio

	footer(id="footer")