extends layout

block main
	header(id="header")
		a(href="", class="brand_area")
			h1 Líderes Web           
		a(href="", class="icons")
			img(src="images/menu.png")
	
	section(id="sidebar")
	footer(id="footer")