doctype 5
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Blog-Lideres Mejorandola
        link(rel="stylesheet", href="/app/vendor/normalize-css/normalize.css")
        link(rel="stylesheet"  href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,700,600")
        link(rel="stylesheet", href="/app/fonts/style.css")
        link(rel="stylesheet", href="/.tmp/styles/main.css")
    body
        block main

    script(src="/app/vendor/jquery/jquery.min.js")
    script(src="/app/scripts/main.js")
