doctype 5
html(lang="es")
    head
        meta(charset="utf-8")
        title Blog-Lideres Mejorandola
        link(rel="stylesheet", href="/.tmp/styles/main.css")

    body

        block main

    script(src="/app/vendor/jquery/jquery.min.js")
    script(src="/app/scripts/main.js")
